table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 79vh;
    margin-bottom: 0 !important;
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #52658F;
    color: #ffffff;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead{
    flex-shrink: 0;
}

th, tbody td {
    width: 20%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.btnSubmit{
    background-color: #F7F5E6;
    color: #333A56;
}