.thead{
    background-color: #52658F;
    color: #F7F5E6;
}
.titlePage{
    margin: 10px 10px 5px 20px;

}
.content {
    text-align: center;
}

.title {
    font-size: 36px;
    padding: 20px;
}
table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 79vh;
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead{
    flex-shrink: 0;
}

th {
    width: 19%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
tbody td{
    width: 25%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}