#map {
    height: 89vh;
}

.imgMarker{
    width: 240px;
    height: 190px;
}
#searchBtn{
    border: none;
    background-color: inherit;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
}
.mapBox{
    float: right;

}
.btn-dark{
    width: 100%;
    background: #1A1A1A;
    color:#ffffff;
}
#resultBox{
    /*display:none;*/
    height: 65vh;
    overflow: scroll;
    width: 100%;
}
.home {
    /*padding: 0 !important;*/
}
.search-col {
    height: 85vh;
    /*padding: 15px !important;*/
}
.btnFind,.btnFind :hover{
    /*background-color: #AF473C;*/
    background-color: #F7F5E6;
    color: #52658F;
    margin-top: 8px;
}
.imgMarker{
    width: 240px;
    height: 190px;
}
.divFind{
    color: #F7F5E6;
        background-color: #52658F;
    position: absolute;
    top: 100px;
    left: 100px;
}

.form-check{
    padding-left: 2rem;
}
.divFind .dropdown{
  margin-bottom:5px;
}


.btn-adv,.btn-adv:hover{
    color: #F7F5E6;
}
.divFind button {
    background-color: #E8E8E8;
}
/*.divFind .form-control {*/
    /*background-color: #E8E8E8;*/
/*}*/
.my-button {
    background-color: #F7F5E6;
}
.divFind a {
    text-decoration: underline;
}

.list-group .list-group-item{
    cursor: pointer;
}
.list-group .list-group-item:hover{
    background-color:#F7F5E6;
    color: #52658F;

}
#content{
    color:#52658F;

}
#content button{
    cursor: pointer;
}