#map {
    height: 90vh;
    /*width: 100vw;*/
}
/* Optional: Makes the sample page fill the window. */
/*html, body {*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

#searchBtn{
    border: none;
    background-color: inherit;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;

}
.mapBox{
    float: right;

}
.btn-dark{
    width: 100%;
    background: #1A1A1A;
    color:#ffffff;
}
#resultBox{
    /*display:none;*/
}

.home {
    /*padding: 0 !important;*/
}

.search-col {
    height: 90vh;
    /*padding: 15px !important;*/
}