#map {
    height: 90vh;
    /*width: 100vw;*/
}
/* Optional: Makes the sample page fill the window. */
/*html, body {*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/
.btnFind{
    background-color: #C06016;
    color: #ffffff;
}
.imgMarker{
    width: 240px;
    height: 190px;
}

#searchBtn{
    border: none;
    background-color: inherit;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;

}

.mapBox{
    float: right;

}
.btn-dark{
    width: 100%;
    background: #1A1A1A;
    color:#ffffff;
}
#resultBox{
    /*display:none;*/
    height: 65vh;
    overflow: scroll;
    width: 100%;
}

.home {
    /*padding: 0 !important;*/
}

.search-col {
    height: 85vh;
    /*padding: 15px !important;*/
}


.btnFind,.btnFind :hover{
    background-color: #AF473C;
    color: #ffffff;
    margin-top: 8px;
}
.imgMarker{
    width: 240px;
    height: 190px;
}
.divFind{
    color: #ffffff;
    background-color: #626E60;
    position: absolute;
    top: 100px;
    left: 100px;
}

.form-check{
    padding-left: 2rem;
}
.divFind .dropdown{
  margin-bottom:5px;
}


.btn-adv,.btn-adv:hover{
    /*color:#C06016;*/
    color:#ffffff;
}

