.card-head{
    color: #1A1A1A;
    font-weight: normal;
    font-size: 20px;
    padding: 15px 10px 0px 5px;
    text-align: center;
}

.btn-dark{
    background: #1A1A1A;
    color:#ffffff;
}
.btn-dark:hover{
    background: #3d3d3d;
}
.input-group-text{
    background-color: #ffffff;
}

.pic {
    /*position: relative;*/
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
}
.card-img{
    /*float: right;*/
    /*top: -132px;*/
    /*left:265px;*/
}
.card-img span{
    /*top:-270px;*/
    /*right:180px;*/
    /*position: relative;*/
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;

}
.logo{
    /*top: -360px;*/
    /*left:80px;*/
    /*position: relative;*/
    margin-bottom: 30px;
    border-radius: 5px;
    opacity: 0.7;
}
.justify-content-center img {
    max-width: 250px;
    max-height: 150px;
}
@media only screen and (min-width: 40.063em) {
    .justify-content-center img {
        max-width: 400px;
        max-height: 100px;
    }
}

@media only screen and (min-width: 64.063em) {

    .justify-content-center img {
        max-width: 400px;
        max-height: 100px;
    }
}
.card {
    /*height: 400px;*/
    width: auto;
}