table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 34vh;
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead{
    flex-shrink: 0;
    background-color: #52658F;
    color: #ffffff;
}

th, tbody td {
    width: 20%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}