#map {
    width: 70%;
    display: inline-block;
}

#control_panel {
    width: 10%;
    height: 80%;
    display: inline-block;
    overflow: scroll;
    margin: auto;
}

.controller{
    margin-bottom: 5px;
    border: solid black 1px;
}